.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 0px 20px;
  cursor: pointer;
}

.login-icon {
  margin-right: 10px;
}
/* 
.login-form .email-input {
  width: 50%;
}

.login-form .password-input {
  width: 50%;
} */

.login-form .login-submit-btn {
  display: flex;
  justify-content: center;
}

.nav-section {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style-type: none;
  white-space: nowrap;
}

.menu-list li {
  padding: 10px;
}

.input-container {
  position: relative; /* 아이콘의 위치를 absolute로 지정가능하게해줌*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
}

.search-input {
  padding-left: 30px; /* 아이콘의 크기에 따라 조정, 아이콘이 input 내부에 겹치지 않도록 해줌 */
  width: 100%;
  height: 55%;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  color: gray;
}

.search-icon {
  position: absolute; /* input의 왼쪽에 위치시키고, 적절한 left 값을 설정하기*/
  left: 5px; /* 아이콘과 입력창 사이의 간격 조정 */
  padding-bottom: 3px;
}

.card {
  margin-bottom: 10px;
  text-align: center;
  border-color: transparent !important;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card img {
  border-radius: 15px;
  margin-top: 10px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.product-img img {
  border-radius: 10px;
  width: 80%;
}

.price {
  margin-top: 5px;
}

.choice {
  margin-top: 5px;
}

#dropdown-basic {
  border: 1px solid black;
}

.drop-down {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-button {
  border: none;
  background-color: black;
  border-radius: 10px;
  color: white;
  width: 80%;
}

/* 햄버거바 부분 */
.menu-area {
  display: flex;
  justify-content: center;
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}
/* 햄버거바 부분 끝 */

/* Media Query for Mobile Screens */
@media screen and (max-width: 768px) {
  .menu-area {
    display: none; /* Hide menu by default on mobile */
  }

  .menu-area.show {
    display: flex; /* Show menu when hamburger is clicked */
    flex-direction: column;
  }

  .burger-menu {
    display: block; /* Show hamburger icon on mobile */
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
  }

  .menu-list li {
    padding: 15px;
  }
}
