.login-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  margin: 20px;
}

.login-icon {
  margin-right: 10px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.input-container {
  position: relative; /* 아이콘의 위치를 absolute로 지정가능하게해줌*/
  display: flex;
  align-items: center;
}

.search-input {
  padding-left: 30px; /* 아이콘의 크기에 따라 조정, 아이콘이 input 내부에 겹치지 않도록 해줌 */
  width: 100%;
  height: 35%;
  border: none;
  border-bottom: 1px solid black;
  color: gray;
}

.search-icon {
  position: absolute; /* input의 왼쪽에 위치시키고, 적절한 left 값을 설정하기*/
  left: 5px; /* 아이콘과 입력창 사이의 간격 조정 */
}
